<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link rel="stylesheet" href='../Styling/styles.css'>
</head>
<body>
    <header>
        <h1>Mukut Chowdhury </h1>
    </header>
    <div class="container">
        <section class="about-me">
            <h2>About Me</h2>
            <p>Hi, I'm Mukut Chowdhury and I'm from Queens, New York. I have finished my undergraduate degree in Computer Engineering with a minor in Business Studies from NYU Tandon School of Engineering.
                I'm currently going back for school to pursue a Master degree in Cybersecurity at NYU Tandon School of Engineering. Below are content about the project's I've worked on, the classes taken in 
                undergraduate, classes I'm taking in Masters, as well as what I do in my free time.
            </p>
        </section>
        <section class="projects">
            <h2>Projects</h2>
            <div class="content">
                <h3>Project 1</h3>
                <p>Description of project 1.</p>
            </div>
            <div class="content">
                <h3>Project 2</h3>
                <p>Description of project 2.</p>
            </div>
            <div class="content">
                <h3>Project 3</h3>
                <p>Description of project 3.</p>
            </div>
            <div class="content">
                <h3>Project 4</h3>
                <p>Description of project 3.</p>
            </div>
        </section>
        <section class="classes-link">
            <h2>My Classes</h2>
            <p>Check out the <a href="undergradClasses.html">classes I took during my undergraduate studies</a>.</p>
        </section>

    </div>
    <footer>
        <p>&copy; 2024 Mukut Chowdhury. All rights reserved.</p>
    </footer>
</body>
</html>
