<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>undergradClasses</title>
</head>
<body>
    <header>
        <h1>Undergraduate</h1>
    </header>
    <div class="container">
        <section class="classes">
            <h2>Computer Science Classes</h2>
            <ul>
                <li>Introduction to Program & Problem Solving</li>
                <li>Data Stuctures and Algorithms</li>
                <li>Object Oriented Programming</li>
                <li>Computer Architecture & Organization</li>
                <li>Computer Networking</li>
                <li>Software Engineering (Senior Design) - this course is broken down into two semesters</li>
            </ul>
        </section>
    </div>
    <div class="container">
        <section class="classes">
            <h2>Electrical Classes</h2>
            <ul>
                <li>Introduction to Electrical and Computer Engineer</li>
                <li>Fundamental of Electric Circuits</li>
                <li>Fundamentals of Electronics 1</li>
                <li>Introduction to Embedded System Design</li>
            </ul>
        </section>
    </div>
    <footer>
        <p>&copy; 2024 Mukut Chowdhury. All rights reserved.</p>
    </footer>
</body>
</html>
